<div>
        <h1 class="h3 mb-3 text-center font-weight-normal text-white">
            <font>Manage {{usertype| uppercase}}</font>
          </h1>
      <table class="table text-white">
      <thead>
            <tr>
                <th>#</th>
                <th>userID</th>
                <th>Name</th>
                <th>Qualification</th>
                <th>Phone</th>
                <th *ngIf="hodcomp()">Branch</th>
                <th>E-Mail</th>
                <th *ngIf="authService.adminLoggedIn()">Opearation</th>
                <th *ngIf="authService.adminLoggedIn()">Opearation</th>
                <th *ngIf="authService.adminLoggedIn()">Opearation</th>
            </tr>
        </thead>
      <!--Table head-->
    
        <!--Table body-->
        <tbody>
            <tr *ngFor="let rec of users; let ind = $index;">
                <td scope="row">{{users.indexOf(rec)+1}}</td>
                <td>{{rec.userid}}</td>
                <td>{{rec.name}}</td>
                <td>{{rec.qualification}}</td>
                <td>{{rec.phone}}</td>
                <td *ngIf="hodcomp()">{{rec.dept}}</td>
                <td>{{rec.email}}</td>
                <td *ngIf="authService.adminLoggedIn()"><input type="button" (click)="delete(rec)" value="Delete" class="btn btn-danger"></td>
                <td *ngIf="authService.adminLoggedIn()"><a class="nav-link" [routerLink]="['/add']"><input type="button" (click)="update(rec)" value="Update" class="btn btn-primary"></a></td>
                <td *ngIf="(authService.adminLoggedIn()) && (rec.phone!=''&&rec.phone!=undefined)"><input type="button" (click)="senddata(rec)" value="Send E-Mail To Phone" class="btn btn-primary btn-sm"></td>
                <td *ngIf="(authService.adminLoggedIn()) && (rec.phone==''||rec.phone==undefined)"><input type="button" (click)="senddata(rec)" value="Send E-Mail To Phone" disabled="disabled" class="btn btn-primary btn-sm" title="User Not Updated Profile,Mobile Number Not Available"></td>
            </tr>
        </tbody>
        <!--Table body-->
    
    </table>
    <!--Table-->
    </div>
    