<div class="container">
        <!-- <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 text-center check">
                        <a>COLLEGE NAME</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="text-muted" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                        </a>
                        <a class="btn btn-sm btn-outline-secondary" href="#">Log in</a>
                    </div>
                </div>
            </header>
    
            <div class="nav-scroller py-1 mb-2">
    
                <a class="p-2 text-muted" href="#">About</a>
                <a class="p-2 text-muted" href="#">Admissions</a>
                <a class="p-2 text-muted" href="#">Academics</a>
                <a class="p-2 text-muted" href="#">Placements</a>
                <a class="p-2 text-muted" href="#">Events</a>
                <a class="p-2 text-muted" href="#">Contact us</a>
                </nav>
            </div> -->
    
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4"><b>30K students from 29 states in All Over The India.</b></h1>
                <p class="lead my-3"> Although there are many students from so many diverse regions and different parts of the world there is one thing that unites them all ... They all <b>#thinkBIG</b></p>
            </div>
        </div>
    
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      
                        <strong class="d-inline-block mb-2 text-primary"><h3>CAMPUS LIFE</h3></strong>
                        <h3 class="mb-0">
                            <a class="text-dark"></a>
                        </h3>
                        <div class="mb-1 text-muted">May 11</div>
                      <h5><i>  <p class="card-text mb-auto">The college schedule is very different than the traditional high school schedule. Typically, there is a lot more flexibility with your college classes. In high school, you were probably told that you had to take US History, which was offered every day at 10:00 am. In college, you’ll probably need to take a history class, but you could have 10 choices, which would be offered on different days, at different times, and for different durations.
    
                          The other cool thing about the college schedule is that you usually have more opportunities to explore your interests and passions. For example, you will be picking a major that will determine the types of classes you will specialize in. In high school, you have a set curriculum of classes you have to take across all subject areas. In college, think about your schedule as a pyramid. Your opinion is the must for us and we will do anything for the comfort of students in our campus </p></i></h5>
                    </div>
                    <!--<img class="card-img-right flex-auto d-none d-lg-block" src="C:\Users\RAHUL\Desktop\college project\home page\2.jpg" alt="Card image cap">-->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-success"><h3>TECHMANDRA’18</h3></strong>
                        <h3 class="mb-0">
                            <!-- <a class="text-dark" href="#">Post title</a> -->
                        </h3>
                        <div class="mb-1 text-muted">May 11</div>
                        <h5><i>   <p class="card-text mb-auto">Techmandra’18, a National level Technical Symposium was organized by the Society of Civil, ECE, EEE, CSE, Mechanical and Mechatronics Departments of our college on February 17th, 2018. Mr.H.M.Shahul Hameed, General Manager & HR of Doowon Automotive Sstems India Pvt. Ltd., Chennai, was the Chief Guest for this event. For example, you will be picking a major that will determine the types of classes you will specialize in. In high school, you have a set curriculum of classes you have to take across all subject areas. In college, think about your schedule as a pyramid. Your freshman and sophomore year, you’ll take more general education classes (a mixture of everything so you walk away well-rounded) and a few classes in your major. But during your junior and senior year, you’ll take fewer general education classes and more classes in your major.</p></i></h5>
                        <!-- <a href="#">Continue reading</a> -->
                    </div>
                    <!-- <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap"> -->
                </div>
            </div>
        </div>
    
        <div class="row mb-2">
          <div class="col-md-6">
              <div class="card flex-md-row mb-4 box-shadow h-md-250">
                  <div class="card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-primary"><h3>ASTRA'2018</h3></strong>
                      <h3 class="mb-0">
                          <a class="text-dark"></a>
                      </h3>
                      <div class="mb-1 text-muted">July 18th-25th</div>
                     <h5><i> <p class="card-text mb-auto">ASTRA'2018, The Intra-Collegiate Cultural Extravaganza aims to unleash the talents in the Paavaians, streamline their capabilities and furthermore, tune their skills to perfection. Through this event The Participants can get Interaction with New People and New Technology. The event acts as a prelude platform for the students before they can face the real world filled with talent and diverse opportunity. for participation students are requested to contact the student coordinators<br> Contact-9989602037</p></i></h5>
                  </div>
                  <!--<img class="card-img-right flex-auto d-none d-lg-block" src="C:\Users\RAHUL\Desktop\college project\home page\2.jpg" alt="Card image cap">-->
              </div>
          </div>
          <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-success"><h3>Admissions</h3></strong>
                    <h3 class="mb-0">
                        <!-- <a class="text-dark" href="#">Post title</a> -->
                    </h3>
                    <div class="mb-1 text-muted">June 25th</div>
                    <h5><i><p class="card-text mb-auto ">University admission or college admission is the process through which students enter tertiary education at universities and colleges. Systems vary widely from country to country. In India almost all top private colleges and universities are having separate seats for management quota. Education diary plays a vital role in college and universities admission for all Undergraduate and postgraduate programs.
    
                      In many countries, prospective university students apply for admission during their last year of high school or community college.</p>
                    </i></h5>
                    <!-- <a href="#">Continue reading</a> -->
                </div>
                <!-- <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="Card image cap"> -->
            </div>
        </div>
        <div id="floating-button">
            <img class="qr" src="/assets/qr.png">
        </div>
    </div>
    </div>    