
  <div class="container text-white forgotpage" >
    <h2 class="text-center">Forgot Password?</h2>
      <label  >Enter Your userID:</label>
        <input type="email" placeholder="UserID" class="form-control" name="userid" [(ngModel)]="userid"><br>
          <!-- has to give router link to collecting data form if authenticate  -->
        <button class="btn btn-primary" (click)="onResetClick()">Reset Password</button> &nbsp; &nbsp; &nbsp;&nbsp;
        <button class="btn btn-primary" (click)="cancelClick()">Cancel</button>
  </div>