@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.body{
    padding-top:70px;
  }
  .main-section{
  border:1px solid #138496;
  background-color: #fff;
  }
  /* .profile-header{
  background-color: #17a2b8;
  height:150px;
  } */
  .user-detail{
  margin:-50px 0px 30px 0px;
  }
  .user-detail img{
  height:100px;
  width:100px;
  }
  .user-detail h5{
  margin:15px 0px 5px 0px;
  }
  .user-social-detail{
  padding:15px 0px;
  background-color: #17a2b8;
  }
  
.user-social-detail a:hover{
  text-decoration:none;
}
.user-social-detail a i{
  color:#fff;
  font-size:23px;
  padding: 0px 5px;
  }
  .user-social-detail a:hover i{
    border-radius:4px;
    background-color:#fff;
    color: #17a2b8;
    font-size:25px;
    padding: 0px 5px;
    }
    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
      margin-left: 30%;
    }
    
    .example-full-width {
      width: 100%;
    }
    