<div>

    <div>
        <main role="main">

            <section class="jumbotron text-center">
                <div class="first">
                    <br><br>
                    <h1 class="jumbotron-heading"><u>ABOUT US</u></h1>

                    <br><br>
                    <img src="assets/images/2.jpg">
                    <br><br><br><br>
                    <p class="jumbotron-matter"><u><h2>VISION STATEMENT</h2></u> <br>" Our vision is to educate students from all over India including those from the local and rural areas, so that they become enlightened individuals, improving the living standards of their families,
                        Industry and the Society. We will provide individual attention, high quality of Education to meet the challenges imposed by the rapid growth of technology and globalization."</p>
                    <br><br>
                    <p class="jumbotron-matter"><u><h2>MISSION STATEMENT</h2></u></p> <br>
                    <p class="jumbotron-matter">"To establish the School of Engineering / School of Computing / School of Management for ensuring proper linkages between planning of Engineering Education facilities, Management Facilities and Applied IT Facilities and the market
                        demand so that these college becomes demand - driven and later the needs of the country / growth of country are met from both IT, Engineering and Management Perspective."</p>
                    <p class="jumbotron-matter"> "To produce output of internationally accepted levels of quality Engineers by creating access to professional education by establishing colleges in Rural Areas."</p>
                    <p class="jumbotron-matter"> "To create infrastructure, teacher competence, teaching learning process and management so as to produce graduates at accepted levels of competence in knowledge skills, attitudes and Industrial Knowledge through Industry Collaborations."</p>
                    <p class="jumbotron-matter"> "To promote technological capacity building through technological innovation research, design and development and through active collaboration with Industry and R & D organizations."</p>
                </div>
                <br><br>
            </section>
            </main>
            <div id="floating-button">
                    <img class="qr" src="/assets/qr.png">
                </div>
            </div>
            </div>