:root {
    --jumbotron-padding-y: 3rem;
}

.container {
    background-image: url("/assets/images/1.png");
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color:transparent;
    /* background-image: url("/assets/images/1.png"); */
    background-size: cover;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-matter {
    /* font-weight: 300; */
    color:white;
    font-size: 18px;
}

.jumbotron-heading {
    /* font-weight: 300; */
    color: #fff;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.album {
    background-image: url("/assets/images/1.png");
}