<div class="container" style="width:auto;max-width:840px; margin-left: 33%;">
    <div class="py-5">
        <font color="white">
            <h1 style="margin-left:18px;"><u>CONTACT  ADMIN</u></h1>
        </font>
    </div>
        <div>
            <font color="white">
                <h3 style="margin-left:18px;">Please fill in your details</h3>
            </font>
            <form (submit)="onRequest()" ngNativeValidate>
            <div class="needs-validation">
                    <div class="col-md-6 mb-3 ">
                        <label for="email or uid"><font color="white">Email / UserId</font></label>
                        <input type="text" class="form-control " name="emailoruid" placeholder="Enter your E-mail or Userid" [(ngModel)]="emailoruid" required (keypress)="keyPressText($event)">
                        <div class="invalid-feedback ">
                          Please enter a valid email address to help us get in touch with you.
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <label for="email"><font color="white">Role</font></label>
                        <select class="form-control" name="role" [(ngModel)]="role" required="required">
                            <option disabled="disabled" selected>select role</option>
                            <option value="student">STUDENT</option>
                            <option value="hod">HOD</option>
                            <option value="tpo">TPO</option>
                        </select>
                  </div>
                    <div class="col-md-6 mb-3 ">
                        <label for="Subject"><font color="white">Subject</font></label>
                        <input type="text " class="form-control" maxlength="25" name="subject" title="Enter Short form of your request Max Characters: 25 Ex: Forgot Email-Id" placeholder="Enter Title of request Max Characters:25" [(ngModel)]="subject" required (keypress)="keyPressText($event)">
                        <div class="invalid-feedback ">
                            Valid Subject is required.
                        </div>
                    </div>
  
                    <div class="col-md-6 mb-3 ">
                        <label for="Message"><font color="white">Request Message</font> <span class="text-muted "></span></label>
                        <textarea rows="4" cols="50" name="message" required="required" [(ngModel)]="message" class="form-control" placeholder="Enter your Request Description" (keypress)="keyPressText($event)"> </textarea>
                    </div>
                    <div class="col-md-6 mb-3">
                    <input type="submit" class="btn btn-primary btn-lg btn-block w-150" value="Submit Request">
                    </div>
                    </div>
                    </form>
                    <div id="floating-button">
                            <img class="qr" src="/assets/qr.png">
                        </div>
                    </div>
                </div>
  